
/* untuk screen 768px (hp) */
@media (max-width: 767px) {
    /* Bagian Pertama */
    .container {
        flex-direction: column; 
        align-items: center; 
    }
    
    .box {
        width: 80%; 
    }

    /* Bagian kedua */
    .container-card {
        flex-direction: column; 
        align-items: center; 
    }

    .card {
        width: 80%; 
    }

    select {
        width: 100%; 
        margin-left: 0; 
    }
}

/* untuk screen 768px dan 1023px (tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* untuk screen 1023px (dekstop) */
@media (min-width: 1024px) {
    
}





body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

/* Bagian Pertama */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    margin-top: 30px;
}

.box {
    width: 200px;
    height: auto; 
    background-color: #3498db;
    border-radius: 7px;
    margin: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    padding: 5px; 
    font-size: 15px; 
    color: black;
}

.box-two {
   background-color: white;
   width: 100px;
   height: 60px;
}

.sales-text {
    color: gray;
}
.sales-number {
    color: black;
    font-size: 20px; 
}


/* Bagian kedua */
.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    margin-top: 20px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/* Bagian Dropdown select & option */
select {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #3498db;
    border-radius: 7px;
    background-color: #3498db; 
    font-size: 16px;
    cursor: pointer;
    margin-left: 50px;
}

option {
    padding: 5px;
    
}


/* .card-table th {
    text-align: left;
}

.card-table select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
} */




/* Bagian Footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

* {
    margin: 0;
    padding: 0;
}
