:root {
  --nav-bg: #03000e; 
  --main-clr: dodgerblue;
  --nav-shadow: 0px 3px var(--main-clr); 
} 

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* CSS bagian Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: #03000e; /* Untuk warna Navbar */
  box-shadow: var(--nav-shadow);
  z-index: 1;
}

nav .logo {
  color: #fff; 
  text-decoration-color: var(--main-clr);
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 100;0px 3px var(--main-clr)
}

nav ul {
  --padding: 20px;
  --font-size: 17px;

  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow: hidden;
  transition: 1s cubic-bezier(.68,-0.55,.27,10.55);
  box-shadow: var(--nav-shadow);
}

nav ul li {
  padding: var(--padding);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

nav .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: #fff;
  transition: 0.3s ease;
  transform-origin: left;
}

nav .menu.active span {
  background: var(--main-clr);
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}



/* CSS ABout Us & Team */
h2 {
  margin-top: 55px;
}

p {
  padding: 10px;
  margin: 20px;
}





/* Media query ini untuk mengatur pada bagian navbar ketika lebar layar maksimum adalah 910 piksel.  */
@media (max-width: 910px) {
  nav .menu {
    display: flex;
  }

  nav ul {
    --height: 0px;

    flex-direction: column;
    background: var(--nav-bg);
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    height: var(--height);
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55); /* Menambahkan transisi yang halus untuk perubahan tinggi dengan durasi 1 detik menggunakan fungsi cubic-bezier untuk efek transisi kustom. */
  }
  nav ul.active {
    --height: calc(
      (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
    );
    /* Fungsi calc untuk melakukan perhitungan aritmatika yang akan menghasilkan nilai yang diberikan ke --height. */
    /* Menambahkan hasil perhitungan padding dan tinggi teks. */

     transition: 1s ease;  /* Fungsi Transisi durasi 1 detiks */
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
    text-transform: capitalize;
  }

  
}

  
  
  section {
    padding: 20px;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 70px;
  }

  
  .container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Mengubah grid menjadi responsif */
    gap: 20px;
  }
  
  .container .box {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .box-two {
    background-color: white;
    width: 100px;
    height: 600px;
  }
  
  .sales-text {
    color: #463E3F;
  }
  
  .sales-number {
    color: black;
    font-size: 20px;
  }

  .container .box .sales-number {
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    color: black;
}

  .container .box .sales-text {
    color: black;
    font-size: 1rem;
    margin-top: 5px;
}

  .container .box .icon-card {
    margin-left: 30px;
    font-size: 2.5rem;
    color: black;
}

  .container .box:hover {
    background: black;
}

.container .box:hover .sales-text,
.container .box:hover .sales-number,
.container .box:hover .icon-card {
    color: white;
}
  
  .container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; /* jarak antar cardnya */
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }
  
  .card {
    width: 100%;
    max-width: 300px; /* Mengatur lebar maksimum card */
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 32px;
    background-color: #fff;
  }

  .card-header {
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  #chart-1 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid black;
  }

  .labelstates{
   margin-top: 50px;
   position: relative;
   text-align: center;
   font-weight: bold;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #3498db;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
  }
  
  option {
    padding: 5px;
  }
  
  .container-home {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4px;
  }


  /* CSS Bagian About Us */
  #AboutUs {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  #AboutUs article {
      max-width: 1000px; /* Mengatur lebar maksimal teks */
      width: 100%; /* Memastikan teks mengambil 100% lebar dari elemen induk */
      text-align: justify; /* Meratakan teks */
  }

  #AboutUs h2 {
      text-align: center; /* Mengatur perataan teks judul */
  }

  #AboutUs p {
      line-height: 1.6; /* Mengatur tinggi baris untuk kenyamanan membaca */
      margin-bottom: 2px; /* Memberi jarak antar paragraf */
  }


  /* CSS Bagian Team */
  .team-content {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.team-content img {
    width: 40%;
    height: auto;
    border-radius: 150px;
    margin-bottom: 15px;
}

.box-team{
    padding: 16px;
    background: #075AA1;
    border-radius: 15px;
    transition: all .38s ease;
}

.box-team h3{
    font-size: 18px;
    font-weight: 600;
    color: #EEF0F2;
    margin-bottom: 8px;
}

.box-team h5{
    font-size: 12px;
    font-weight: 300;
    color: #EEF0F2;
    margin-bottom: 8px;
}

.box-team:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
  



  /* Bagian Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    height: auto;
  }